.blog {
    height: fit-content;
    &-item:hover .blog-item__headline{
        color: #d58e32 !important;
    }
    &-item:hover .blog-btn{
        background-color: #d58e32 !important;
    }
    &-line{
           list-style-type: none;
           height: 1px;
           &_warning{
               width: 5%;
               border: 2px solid #d58e32 ;
            }
            &_grey{
                width: 85%;
                border: 2px solid #e2e2e2 ;
            }
           
            }
          
   

    &-img {
    width: 100%;
    height: 290px;
    position: relative;
    }
    &-content{
        width: 85%;
        background-color: #ffffff;
        position: absolute;
        left: 37px;
        top: 230px;
    }
    &-btn{
        background-color: #2a2a2a;
    }

   
}
