.cart-modal {
    &__wrapper {
        width: 1140px;
    }

    &__item-wrapper {
        width: 1029px;
        height: 218px;
        margin-left: 55.5px;
    }

    &__item-image {
        width: 100%;
        height: 100%;
    }

    &__item-image-container {
        width: 195px;
        height: 195px;
    }

    &__item-final-price {
        height: 100px;
        width: 100px;
        margin-top: 23px;
    }

    &__item-quantity {
        height: 100px;
        margin-top: 30px;

    }

    &__button-wrapper {
        width: 1029px;
        margin-left: 55.5px;

    }
}

.item-information {
    &__item-name {
        font-size: 18px;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }

    &__previous-price-inner {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 17px;

    }

    &__previous-price-outer {
        width: 61px;
        height: 29px;
    }

    &__current-price-outer {
        width: 83px;
        height: 29px;
    }

    &__current-price-inner {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 18px;
    }

}


.item-quantity {
    &__number-outer {
        width: 64px;
        height: 32px;
    }

    &__signature-outer {
        width: 64px;
        height: 32px;
    }

    &__signature-inner {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 12px;
    }

    &__number-inner {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
    }

    &__plus-outer {
        width: 32px;
        height: 32px;
    }

    &__minus-outer {
        width: 32px;
        height: 32px;
    }

    &__minus-icon {
        font-size: 10px;
    }

    ;

    &__plus-icon {
        font-size: 10px;
    }


}

.item-final {
    &__price-description {
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 16px;
    }

    &__price-amount {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 18px;
    }
}


.button-wrapper {
    &__continue-button-wrapper {
        width: 159px;
        height: 40px;
        background-color: #939393;
    }

    &__buynow-button-wrapper {
        width: 159px;
        height: 40px;
        background-color: #d58e32;
    }

    &__chevron-right {
        font-size: 15px;

    }

    &__button-text {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 15px;
        margin-top: 2px;
    }

    &__total-text {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 28px;
    }
}


@media (max-width: 768px) {
    .cart-modal {
        
        &__wrapper {
            width: 750px;
            height: 432px;
        }

        &__item-wrapper {
            width: 671px;
            margin-left: 55.5px;
        }
        
    }

    
    
}