.footer{
    height: fit-content;
    &-links{
        height: 25px;
        width: max-content;
        // cursor: pointer;
        // & a{
        //     text-decoration: none;}
       }
    &-links:hover{
        // text-decoration: none;
        border-bottom: 2px solid #868e96 ;

        
    }
}
a{
    text-decoration: none !important;
}
.footer-rights{
    font-family: 'Open Sans', sans-serif !important;
    width: 100vw;
    height: 95px;
    background-color: #2a2a2a;
    &__sotial{
        color: #a1a1a1;
    }
    &__sotial :hover{
        color:#d58e32;
    }
    
}
