.furn{
    margin-top: 61px;
   
    & a{
        text-decoration: none;
    }
   
    
     &-inf{
        max-width: 100%;
        background-color:#f4f5f7;
        
         &__img{
      
       max-width: 100%;
        height: 262px;
     } 
     }
 
    &__img {

        &__sale{
            font-size: 12px;
            width: 44px;
            height: 22px;
            position: absolute;
            left: 108px;
            border-radius: 0 0 50% 50% / 0 0 100% 100%;

            opacity:0;
            transform:scale(0);
            transition:all .3s ease 0;
        }
        &__ditails{
            position: absolute;
            bottom: 150px;
            
            opacity:0;
            transform:scale(0);
            transition:all .3s ease 0;
            }
           &__view{
               height: 37px;
               width: 87px;
               font-size: 13px;
           }
           &__add{
            height: 37px;
            width: 132px;
            font-size: 14px;
            padding-top: 8px;
        }
        }
    &__diskr{
        
        height: fit-content;
        border: 0.5px solid lightgrey;
        &__hr{
            height: 1px;
        }
    }
}
.furn{
    &_img-hover:hover .furn__img__ditails, &_img-hover:hover .furn__img__sale{opacity:1;transform:scale(1)}
    &_img-hover:hover .furn__diskr__price{background-color: #d58e32 !important;}
 
   
       
    &__diskr{
       
      
        border: 0.5px solid lightgrey;
        &__hr{
            height: 1px;
            list-style: none;
            &-darck{
                width: 40%;
                border: 1.5px solid gray;
                background-color: gray;
            }
            &-warning{
                width: 20%;
                border: 2px solid #d58e32;
                background-color: #d58e32;
            }
          
        }
        &__favor{
            
            height: 37px;
            // padding: 12px;
            border: 1px solid black;
        }
        &__old-price{
            text-decoration:line-through;
            
        }
        &__price{
            height: 37px;
        }
    }
    &__filters{
        opacity: 0;
        // &__title{
        //     border-bottom: 1px solid #2a2a2a;
        // }
        &_active{
            color:  #d58e32 !important;
        }
        &__list{
            list-style-type: none;
       
      
        &__color{
             list-style-type: none;
            & input[type=checkbox] {
                display: none;
              }
            & label {
                display: inline-block;
                cursor: pointer;
                position: relative;
                padding-left: 25px;
                margin-right: 15px;
                font-size: 16px;
              }
            & label:before {
                content: "";
                display: inline-block;
               
                width: 16px;
                height: 16px;
               
                margin-right: 10px;
                position: absolute;
                left: 0;
                bottom: 3px;
                
               
              }              
              & input[type=checkbox]:checked + label:before {
               
                font-family: "FontAwesome";
                content: "\f00c";
                color: #fff;
                text-align: center;
                  line-height: 15px;
              }
              &__red:before{
                background-color: rgb(235, 18, 18);
              }
              &__black:before{
                background-color: black;
              }
              &__yellow:before{
                background-color: yellow;
              }
              &__blue:before{
                background-color: blue;
              }
              &__pinck:before{
                background-color: #f72fe4;
              }
              &__green:before{
                background-color: green;
              }
              & input[type="checkbox"]:checked + label{
                color: #d58e32;
               }
        }
        &__size{
            list-style-type: none;
           & input[type=checkbox] {
               display: none;
             }
           & label {
               display: inline-block;
               cursor: pointer;
               position: relative;
               padding-left: 25px;
               margin-right: 15px;
               font-size: 16px;
             }
           & label:before {
               content: "";
               display: inline-block;
              border:  1px solid black;
              border-radius: 0.5px;
               width: 16px;
               height: 16px;
            
               margin-right: 10px;
               position: absolute;
               left: 0;
               bottom: 3px;
               
               // box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
             }              
             & input[type=checkbox]:checked + label:before {
              
               font-family: "FontAwesome";
               content: "\f00c";
               color:white;
               text-align: center;
                 line-height: 15px;
                 background-color: #d58e32;
                 border: 1px solid  #d58e32;
                
             }
             & input[type="checkbox"]:checked + label {
                color: #d58e32;
                
               }
               & input[type="checkbox"]:checked + .furn__filters__quant{
                background-color: #d58e32;
               }
               &__latter:hover {
           color: #d58e32;
       }
       &__latter:hover .furn__filters__quant{
        background-color: #d58e32 !important;
    }
       }
      
        }
     
        &__quant{
            background-color: #2a2a2a;
            width: 23px;
            height: 23px;
            border-radius: 50%;
            &_active{
                background-color: #d58e32 !important;
            }
        }
        
        &__categor:hover .furn__filters__text{
            color:  #d58e32;
        }
        &__categor:hover .furn__filters__quant{
            background-color:  #d58e32 !important;
        }
        &__tags{
            height: 34px;
            border: 1px solid #959595;
            &_active{
                color:  #d58e32 !important;
                border: 1px solid #d58e32 ;
            }
        }
        &__tags:hover{
            color:  #d58e32;
            border: 1px solid #d58e32 ;
        }

    }
}

.loadMore-btn{
    margin: 60px auto;
    // &__content{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eeeeee;
    cursor: pointer;
//    }
}
.polzunok-container-5 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
.polzunok-container-5 {
    padding: 2px 2px;
   
}
.polzunok-container-5:after {
    content: "";
    clear: both;
    display: table;
}
.polzunok-input-5-left,
.polzunok-input-5-right
 {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 40px;
    color: #555555;
    font-weight: bold;
}
.polzunok-container-5 .ui-slider {
    position: relative;
    background:white;
    border: 0.5px solid lightgray;
    height: 6px;
    border-radius:6px;
} 
.polzunok-container-5 .ui-slider .ui-slider-handle {
    position: absolute;
    margin-left: -16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #d58e32;
    top: -8px;
    background: #FFF;
    z-index: 1;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
    -webkit-transition: border 0.4s, -webkit-transform 0.2s;
    transition: border 0.4s, -webkit-transform 0.2s;
    -o-transition: transform 0.2s, border 0.4s;
    transition: transform 0.2s, border 0.4s;
    transition: transform 0.2s, border 0.4s, -webkit-transform 0.2s;
}
.polzunok-container-5 .ui-slider .ui-slider-handle:hover,
.polzunok-container-5 .ui-slider .ui-slider-handle:focus {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    border: 3px solid #d58e32;
}

    


.polzunok-container-5 .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 6px;
    border: 0;
    background:black;
    border-radius:10px;
    -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3), 1px 1px 5px rgba(255, 255, 255, 1);
    }

