@media (min-width:320px) and (max-width:768px){
    .furn{
        &__filters{
            opacity: 0;
            height: 0;
        } 
        &-title{
            &__filterbtn{
                opacity: 1;
                width: 107px;
                height: 34px;
            }
            // border-bottom: 1px solid #2a2a2a;
            
        }  
    }
    .blog{
        &-carusel_lg{
            opacity: 0;
            height: 0;
        }
        &-carusel_sm{
            opacity: 0;
            height: 0;
        }
        &-carusel_xs{
            opacity: 1;
            height: fit-content;
        }
        &-line{
            list-style-type: none;
            height: 1px;
            &_warning{
                width: 5%;
                border: 2px solid #d58e32 ;
             }
             &_grey{
                 width: 75%;
                 border: 2px solid #e2e2e2 ;
             }
    }
}
    .carousel-inner{
        height: 530px;
    }
    .blog .carousel-indicators {
        right: -410px !important;
        top: -55px !important;
       z-index: 1 !important;
    
    }
    
    /* The colour of the indicators */
    .blog .carousel-indicators li {
        background: #a3a3a3;
        // border-radius: 50%;
        width: 30px;
        height: 30px;
    }
    
    .blog .carousel-indicators .active {
    background: #d58e32 ;}
   
    .products-filters780{
   
        &__content{
           padding: 50px;
         
           width: 420px;
          
           
            }
        }
        .newsletter-text{
            display: none;
        }
    } 
@media (min-width:768px) and (max-width:980px){
    .furn{
        &__filters{
            opacity: 0;
            height: 0;
        } 
        &-title{
            &__filterbtn{
                opacity: 1;
                width: 107px;
                height: 34px;
            }
            // border-bottom: 1px solid #2a2a2a;
            
        }  
    }
    .blog{
        &-carusel_lg{
            opacity: 0;
            height: 0;
        }
        &-carusel_sm{
            opacity: 1;
            height: fit-content;
        }
        &-carusel_xs{
            opacity: 0;
            height: 0;
        }
        &-line{
            list-style-type: none;
            height: 1px;
            &_warning{
                width: 5%;
                border: 2px solid #d58e32 ;
             }
             &_grey{
                 width: 75%;
                 border: 2px solid #e2e2e2 ;
             }
    }
}
    .carousel-inner{
        height: 530px;
    }
    .blog .carousel-indicators {
        right: -550px !important;
        top: -48px !important;
       z-index: 1 !important;
    
    }
    
    /* The colour of the indicators */
    .blog .carousel-indicators li {
        background: #a3a3a3;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    
    .blog .carousel-indicators .active {
    background: #d58e32 ;}
}
@media (min-width:980px){
    .furn{
        &__filters{
            opacity: 1;
        } 
        &-title{
            &__filterbtn{
                opacity: 0;
                // width: 107px;
                // height: 34px;
            }
            // border-bottom: 1px solid #2a2a2a;
            
        }  
    }
    .blog{
        &-carusel_lg{
            opacity: 1;
            height: fit-content;
        }
        &-carusel_sm{
            opacity: 0;
            height: 0;
        }
        &-carusel_xs{
            opacity: 0;
            height: 0;
        }

    }
    .carousel-inner{
        height: 530px;
    }
    .blog .carousel-indicators {
        right: -900px !important;
        top: -48px !important;
       z-index: 1 !important;
    
    }
    
    /* The colour of the indicators */
    .blog .carousel-indicators li {
        background: #a3a3a3;
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }
    
    .blog .carousel-indicators .active {
    background: #d58e32 ;}
}