.modalWindow{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

 &-content{
     padding: 63px;
     margin: 100px auto;
     width: 1140px;
     height: 607px;
     background-color: white;
     position: relative;
    //  &__mainwind{
    //      position: relative;
    //  }
     &__clbutton{
        height: 37px;
        width: 41px;
        background-color:#2a2a2a ;
        position: absolute;
        top: 0px;
        right: 0px;
        &__cross {
            color: white;
            font-size: 28px;
            font-weight: bold; }
        &__cross:hover,
        :focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        } 
    }
}
    &-imgpart{
        height: 406px;
        width: 436px;
      
    }
    &-info{
            &__oldprice{
                text-decoration: line-through;
            }
            &__newprice{
                height: 36px;
                width:104px;
            }
            &__add{
                height: 37px;
                width: 132px;
                font-size: 14px;
                padding-top: 8px;
                background-color: #d58e32;
            }
            &__favor{
                height: 37px;
                width: 37px;
                // padding: 12px;
                border: 1px solid black;
            }
            &__maintext{
                width: 582px;
            }
    }
    & img{
        // width: 100%;
        height: 100%;
        
    }
    &-social{
        &__facebook {
        width: 85px;
        height: 39px;
        border: 1px solid black;
        background-color:#3b5998;
        cursor: pointer;
                & img{
                    height: 16px;
                    width: 9px;
                }
                &__text{
                    height: fit-content;
                }
            }
        &__item{
            width: 85px;
            height: 39px;
            border: 1px solid black;
            cursor: pointer;
                & img{
                    height: 13px;
                    width: 13px;
                }
                &__text{
                    height: fit-content;
                }

        }

  }
 }
 
 .products-filters780{
   
     display:none;
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.4);
     &__content{
        padding: 25px;
        margin: 100px auto;
        width: 556px;
        height: fit-content;
        background-color: white;
        position: relative;
        // &__mainwind{
        //     // position: relative;
        // }
        &__clbutton{
            height: 37px;
            width: 41px;
            background-color:#2a2a2a ;
            position: absolute;
            top: 0px;
            right: 0px;
            &__cross {
                color: white;
                font-size: 28px;
                font-weight: bold; }
            &__cross:hover,
            :focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            } 
        }
    }
  
}

