.newsletter{
    margin: auto 0;
    height: 119px;
    width: 100vw;
    &-entmail{
        background-color: white;
        height: 46px;
        width: 100%;
        &__imp{
        border: 0px solid;
        border-left: 0.5px solid lightgray;
            }
        &__submit{
            background-color: white; 
            width: 46px;
            height: 46px;

        }
        
    }
}