.slider-wrapper {
    width: 1138px;
    height: 466px;
}

.prev-bnt {
    height: 39px;
    width: 569px;
    background-color: #2a2a2a;
    display: inline-block;
    margin: 0 auto;

}

.next-btn {
    height: 39px;
    width: 569px;
    background-color: #d58e32;
    display: inline-block;
    margin: 0 auto;

}

.carousel-button {
    &__wrapper {
        display: flex;
        position: relative;
        justify-content: space-around;
        width: 1138px;
    }

    &__customize {
        width: 47%;

    }
}


/* ПЫТАЮСЬ СДЕЛАТЬ ПОЛУПРОЗРАЧНЫЙ БЛОК */



.carousel-content {
    &__wrapper {
        position: absolute;
        top: 414px;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 1138px;
        height: 214px;
        background-color: black;
        opacity: 0.5;
    }

    &__btn {
        position: absolute;
        top: 600px;
        font-size: 14px;
        left: 765px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #2a2a2a;

    }

    &__text-wrapper--idoor {
        font-size: 53px;
        color: rgba(255, 255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        display: inline-block;
        opacity: 1;
        margin: 0 auto;
        margin-right: 15px;
        margin-bottom: 0px;

    }

    &__text-wrapper--furniture {
        font-size: 53px;
        color: rgba(255, 255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        display: inline-block;
        opacity: 1;
        margin-bottom: 0px;
    }

    &__text-wrapper--save-up {
        color: rgba(255, 255, 255, 255);
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .slider-wrapper {
        width: 449px;
        height: 280px;
    }

    .carousel-content {
        &__wrapper {}
    }
}

@media (max-width: 768px) {
    .slider-wrapper {
        width: 751px;
        height: 466px;
    }

    .carousel-content {
        &__wrapper {
            width: 751px;
            height: 214px;
        }
    }

    .carousel-button {
        &__wrapper {
            
            width: 751px;
        }
    }
}


@media (max-width: 1200px) {
    .carousel-content {
        &__btn {
            left: 552px;
        }
    }

}