.user-toolbar {
    &__background {
        height: 54px;
        background-color: #434343;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left-content {
        margin-top: 17px;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    &__right-content {
        margin-top: 17px;
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }

    &__icons {
        color: white;
        font-size: 13px;
    }

}


@media (max-width: 768px)  {
    .user-toolbar {
        &__background {

            width: 840px;
        }
    }

}