.user-infobar {
    &__background {
        height: 145px;
        background-color: #363636;
        width: 100%;
    }

    &__mobile-icon {
        font-size: 30px;
    }

    &__basket-icon {
        font-size: 20px;

    }

    &__basket-inner {
        width: 50px;
        height: 49px;
    }

    &__basket-counter {
        position: relative;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: #363636;
        color: white;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        width: 23px;
        height: 20px;
        border-radius: 100%;
    }

}



@media (max-width: 768px) {
    .user-infobar {
        &__background {
            
            width: 840px;
        }
    }
}