@mixin furn-img-stile{
    width: 260px;
    height: 262px;
    background-color:#f4f5f7;
    background-size: cover ;
    position: relative;
    background-repeat: no-repeat;
    background-size: auto 260px;
        // background-size: 304px 308px;
    // background-position-y: -30px;
    // background-position-x: -31px;
   
}
